

.card-front {
    background-image: url(../images/grass.png);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-inside-front{
    background-image: url(../images/base/soft-flower-bg.png);
    z-index: 3;
}