body {
    background-color:lightsteelblue;
}

.envelopeBackground {
    background: url(../images/base/full\ envelope.png);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.envelopeForeground {
    background: url(../images/base/front_envelope.png);
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    line-height: 500px;
    font-size: 25px;
}

div.bdayCard {
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translate(0, -20px) scale(0.4) rotate(90deg);
    animation-fill-mode: both;
    width: 300px;
    height: 455px;
    left: calc(calc(100% - 300px)/2);
}

div.bdayCard.sexy {
    width: 560px;
    transform: translate(-129px,-15px) scale(0.2) rotate(90deg);
}

div.bdayCard.sexy.permanentOut {
    transform: translate(-120px, 10%) rotate(0deg) scale(1);
}

div.bdayCard.permanentOut {
    transform: translate(0, 10%) rotate(0deg) scale(1);
    z-index: 10;
}

div.bdayCard.permanentOut::after {
    content: 'click to open';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
}

div.bdayCard.permanentOut.hideClick::after {
    content: '';
}

.bdayCard > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    animation-fill-mode: both;
    background-size: 100% 100%;
}

.card-front {
    background-image: url(../images/front-funny.jpg);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-front-image {
    display: none;
    background-image: url(../images/mothers-day/flower.jpg);
    width: 50%;
    height: 30%;
    background-size: 100% auto;
    opacity: 0.6
}

.mothers-day {
    font-family: fantasy;
    text-align: center;
    font-size: 31px;
    color: lightpink;
    text-shadow: 2px 2px 3px black;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
}

.card-inside-front{
    background-image: url(../images/base/soft-flower-bg.png);
    z-index: 3;
}

.card-inside-back {
    background-image: url(../images/dog-funny.jpg);
    z-index: 1;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    line-height: 70px;
    background-position: 0 -35px;
}
.card-inside-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 50%;
    background-image: url(../images/base/signed-yellower.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.card-inside-back.mothers-day {
    line-height: 40px;
    font-size: 23px;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
}

#bdayContainer {
    width: 100%;
    height: 100%;
    position: relative;
    animation: shake 5s linear;
}

#bdayContainer.shakeit {
    animation-iteration-count: infinite;
}

#bdayContainer.stopshakingit {
    animation-iteration-count: 1;
}

#bdayEnvelopeContainer {
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(calc(100% - 300px)/2);
    margin: 0 auto;
}

#bdayEnvelopeContainer > div {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes popout{
    0% {
        transform: translate(0, -20px) scale(0.4) rotate(90deg);
    }

    50% {
        z-index: 2;
        transform: translate(0, -200px) scale(0.4) rotate(90deg);
    }

    51% {
        z-index: 10;
    }

    100% {
        z-index: 10;
        transform: translate(0, 10%) rotate(0deg) scale(1);
    }
}

@keyframes sexyPopout{
    0% {
        transform: translate(-129px, -15px) scale(0.2) rotate(90deg);
    }

    50% {
        z-index: 2;
        transform: translate(-129px, -200px) scale(0.4) rotate(90deg);
    }

    51% {
        z-index: 10;
    }

    100% {
        z-index: 10;
        transform: translate(-129px, 10%) rotate(0deg) scale(1);
    }
}

@keyframes openCardFront{
    0% {
        z-index: 5;
        transform-origin: 0;
        transform: rotateY(0);
    }

    30% {
        z-index: 5;
    }

    35% {
        z-index: 3;
    }

    100% {
        z-index: 3;
        transform-origin: 0;
        transform: rotateY(180deg);
    }
}

@keyframes openCardInside{
    0% {
        z-index: 3;
        transform-origin: 0;
        transform: rotateY(0);
    }

    30% {
        z-index: 3;
    }

    35% {
        z-index: 5;
    }

    100% {
        z-index: 5;
        transform-origin: 0;
        transform: rotateY(180deg);
    }
}

.popout {
    animation: popout 3s ease;
}

.sexy.popout {
    animation: sexyPopout 3s ease;
}

.openCardFront {
    animation: openCardFront 2s ease;
}

.openCardInside {
    animation: openCardInside 2s ease;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}
