.envelopeBackground {
    background: url(../images/full\ envelope.png);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.envelopeForeground {
    background: url(../images/front_envelope.png);
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    line-height: 500px;
    font-size: 25px;
}

div.bdayCard {
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translate(0, -20px) scale(0.4) rotate(90deg);
    animation-fill-mode: both;
    width: 300px;
    height: 455px;
    left: calc(calc(100% - 300px)/2);
}

div.bdayCard.permanentOut {
    transform: translate(0, 10%) rotate(0deg) scale(1);
    z-index: 10;
}

div.bdayCard.permanentOut::after {
    content: 'click to open';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
}

div.bdayCard.permanentOut.hideClick::after {
    content: '';
}

.bdayCard > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    animation-fill-mode: both;
    background-size: 100% 100%;
}

.card-front {
    background-image: url(../images/prison_mike_outside_text.png);
    z-index: 5;
}

.card-inside-front{
    background-image: url(../images/steevie_inside_left.png);
    z-index: 3;
}

.card-inside-back {
    background-image: url(../images/signed.png);
    z-index: 1;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    line-height: 70px;
}

#bdayContainer {
    width: 100%;
    height: 100%;
    position: relative;
    animation: shake 5s linear;
}

#bdayContainer.shakeit {
    animation-iteration-count: infinite;
}

#bdayContainer.stopshakingit {
    animation-iteration-count: 1;
}

#bdayEnvelopeContainer {
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(calc(100% - 300px)/2);
    margin: 0 auto;
}

#bdayEnvelopeContainer > div {
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes popout{
    0% {
        transform: translate(0, -20px) scale(0.4) rotate(90deg);
    }

    50% {
        z-index: 2;
        transform: translate(0, -200px) scale(0.4) rotate(90deg);
    }

    51% {
        z-index: 10;
    }

    100% {
        z-index: 10;
        transform: translate(0, 10%) rotate(0deg) scale(1);
    }
}

@keyframes openCardFront{
    0% {
        z-index: 5;
        transform-origin: 0;
        transform: rotateY(0);
    }

    30% {
        z-index: 5;
    }

    35% {
        z-index: 3;
    }

    100% {
        z-index: 3;
        transform-origin: 0;
        transform: rotateY(180deg);
    }
}

@keyframes openCardInside{
    0% {
        z-index: 3;
        transform-origin: 0;
        transform: rotateY(0);
    }

    30% {
        z-index: 3;
    }

    35% {
        z-index: 5;
    }

    100% {
        z-index: 5;
        transform-origin: 0;
        transform: rotateY(180deg);
    }
}

.popout {
    animation: popout 3s ease;
}

.openCardFront {
    animation: openCardFront 2s ease;
}

.openCardInside {
    animation: openCardInside 2s ease;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}
